.news_title {
  display: flex;
  align-items: center;
}

.line {
  width: 100px;
  height: 1px;
  background: black;
}
.news_title p {
  margin-bottom: 0 !important;
  margin-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d2130;
}

.read_news {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #1d2130;
  margin: 2rem 0;
}
.news_item_block h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #1c1d28;
}
.news_item_block img{
  margin-bottom: 10px;
}
.news_item_block img:hover{
  transition: .2s;
  opacity: 0.5;
}
.news_item_block p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
}
@media (max-width: 930px) {
  .read_news {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    color: #1d2130;
    margin: 0.5rem 0;
  }
}

@media only screen and (max-width: 988px) {
  .news_section {
    padding: 80px 0;
  }
}

@media (max-width:500px) {
  .news_title p {
  font-size: 15px;
}

.read_news {
  font-size: 20px;
}

}

.seeMoreBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seeMoreBtn {
  color: #fff;
  padding: 10px 30px;
  background: #03b4a0;
  border: 1px solid #03B4A0;
  margin-left: 30px;
  border-radius: 10px;
  margin-top: 40px;
  font-weight: bold;
}

.seeMoreBtn:hover{
  background: white;
  border: 1px solid #03B4A0;
  transition: .2s;
  color: #03B4A0;
}
